---
layout: grid_default
title: Gallery
date: 2015-12-01
---
<!--div class="container"-->
    
    <div id="grid-gallery" class="grid-gallery">
	<!--grid css-->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/grid/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/grid/css/component.css" />
    <script src="{{ site.url }}/assets/grid/js/modernizr.custom.js"></script>
    <section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width --> 
		{% for photo in site.data.gallerys %}
		<li>
			<figure>
				<img src="{{ site.url }}/gallery/thumb/{{ photo.thumb }}" alt="img"/>
				<!--figcaption>
					<h3>{{ photo.caption_header}}</h3>
					<p>{{ photo.caption }}</p>
				</figcaption-->
			</figure>
		</li>
		{% endfor %}
	</ul>
	</section><!-- // grid-wrap -->

	<section class="slideshow">
	<ul>
		{% for photo in site.data.gallerys %}
		<li>
			<figure>
				<img src="{{ site.url }}/gallery/large/{{ photo.large }}" alt="img"/>
				<figcaption>
					<!--h3>{{ photo.caption_header}}</h3-->
					<!--p>{{ photo.caption }}</p-->
				</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	<nav>
		<span class="icon nav-prev"></span>
		<span class="icon nav-next"></span>
		<span class="icon nav-close"></span>
	</nav>

	</section><!-- // slideshow -->

	</div><!-- // grid-gallery -->
<!--/   div-->
