---
layout: default
---
                                **{{ site.title }}**
                                [About](about) / [Github](site.github_usernmae) / [Posts](#posts) / [Tags](tags)

# Posts
<ul>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.posts -%}
    <li>
    <span>{{ post.date | date: date_format }}</span>
        <a href="{{ post.url | relative_url }}">
        {{ post.title }}
        </a>
    </li>
    {%- endfor -%}
</ul>
