---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                **{{ page.title }}**
                                {{ page.date | date:date_format}}
{{ content }}

------------------------------------------

**Tags**
<ul>
    {%- for tag in page.tags -%}
    <li> {{ tag }} </li>
    {%- endfor -%}    
</ul>

<!-- Markdeep: -->
{%- if page.toc != false -%}
<script>markdeepOptions={tocStyle:'medium'};</script>
{%- endif -%}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}}
</style>
